.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  box-sizing: border-box;

  z-index: 2;

  text-decoration: none;
  min-height: 740px;
}

@media (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}

@media (max-width: 767px) {
  .cover__link {
    min-height: 200px;
  }
}
