.cover {
  display: flex;
  position: relative;

  z-index: 1;

  max-width: 1184px;
  margin-top: 92px;
  width: 100%;

  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0.3;
  z-index: 2;
}

.cover:hover::before {
  opacity: 0.8;
  transition: 1s;
}

@media (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}
